<figure><%= link_to image_tag("hands.jpg", alt: "home logo") %></figure>

<section>
  <article>
    <h2 id="mynote">My Noteとは</h2>
    <p>自分の学習記録を取り、それを他者と共有し、<br>
      その学習保状況に合わせて自分の進捗を管理するアプリケーションです</p>
  </article>
</section>
